@import "main";
$content-margin-left: 50px;

#projects {
    display: block;
    width: 100%;
    height: 1400px;
    aspect-ratio: 16/9;
    background-color: $background-color;
}
.projects-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
}
.project-instance {
    background-color: $background-color;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 20px;
    border: 2px solid $element-color;
    transition: all 0.3s ease;
    justify-content: center;
}
.project-instance h1{
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    line-height: 44px;
    margin-left: $content-margin-left;
}
.project-instance p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 0.8rem;
    line-height: 20px;
    margin-left: $content-margin-left;
}
.project-instance img{
    width: 80%;
    aspect-ratio: 16/9;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    opacity: 50%;
}
.project-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-decoration: none;
    color: gray;
}
.image-container {
    position: relative;
    display: inline-block;
}
.image-container:hover img{
    opacity: 50%;
}
/* Style for the icon */
.icon-to-click {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden; 
    font-size: 100px;
    color: #333;
}

.image-container:hover .icon-to-click {
    visibility: visible;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center the modal vertically */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* 80% of parent element */
    max-width: 1000px; /* Limit maximum modal width */
    position: relative;
    text-align: center;
}
.modal-content img {
    opacity: 100%;
}
.modal-content h1{
    margin: 0;
}

/* Style for the close button */
.close {
    color: #333;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #f00; /* Change close button color on hover */
}


.skill-set-box {
    display: block;
    max-width: 1080px;
    margin-top: 100px;
    padding: 20px 0;
    border-radius: 20px;
    // border: 2px solid $element-color;
    box-shadow: 0 20px 20px 0 rgba(233, 240, 243, 0.5);
}
.skill-set{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.skill-icon{
    // circle full color background
    background-color: #5BE9B9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    font-size: 2rem;
}
.skill-text {
    text-align: center;
}
.skill-set-instance {
    text-align: center;
    display: block;
    width: 200px;
    flex-grow: 1;
    // margin: 0 50px;
    padding: 0 50px;
    border-right: 1px solid #E6ECF8;;
}
.skill-set-instance:last-child {
    border-right: none;
}
.skill-text h1{
    margin: 0;
    font-size: 1rem;
    line-height: 44px;
}
.skill-text ul, li{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: small;
    // line height
    line-height: 30px;
}