@import "main";

#moments {
    display: block;
    width: 100%;
    height: 800px;
    aspect-ratio: 16/9;
    background-color: $background-color;
    margin-bottom: 200px;
}
/* Basic styling for a fixed background */
.bg-container {
    text-align: center;
    z-index: 2;
    display: inherit;
    flex-direction: inherit;
    background-image: url(https://gitlab.com/yangfei4/mp1/-/raw/master/src/assets/bg.jpeg?ref_type=heads);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 200%;
    height: 500px;
    // opacity: 0.8;
}
.bg-container p{
    // color: rgb(0, 0, 0);
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

/* Basic styling for the carousel container */
.carousel-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    transition: transform 0.5s ease-in-out;
    margin-top: 100px;
}
.carousel-box {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;

}

/* Styling for individual carousel slides */
.carousel-slide img, video{
    width: 40%;
    height:45%;
    object-fit: cover;
    // shadow
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.carousel-slide {
    flex: 0 0 100%; /* Each slide takes up 100% width */
    // max-width: 100%; /* Minimum width for each slide */
    display: flex;
    justify-content: center;
}
.slide-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.slide-container h1{
    margin-left: 1cm;
    width: fit-content;
    padding: 10px 10px;
    // background-color: rgba(244, 152, 22, 0.8);
    border-radius: 10px;
    color: $element-color;
    border-color: $element-color;
    border: 1px solid $element-color;
}

/* Styling for navigation buttons */
.prev-button,
.next-button {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: $element-contrast-color;
    border: none;
    font-size: 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.prev-button:disabled,
.next-button:disabled {
    opacity: 0.5; // Reduce opacity to indicate it's disabled */
    cursor: not-allowed; 
    pointer-events: none; // Disable click events 
}

